<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>KittyWar.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EBA112FB1DAEB21E00382798</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EBA1130F1DAEB21F00382798</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EBA1131A1DAEB21F00382798</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
